<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Adjuntos</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Lista de Adjuntos</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre del Archivo</th>
    <th>Ruta del Archivo</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="adjunto : ${adjuntos}">
    <td th:text="${adjunto.id}"></td>
    <td th:text="${adjunto.nombreArchivo}"></td>
    <td th:text="${adjunto.rutaArchivo}"></td>
    <td>
      <button class="btn btn-edit">Editar</button>
      <button class="btn btn-delete">Borrar</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-create">Crear Adjunto</button>
</div>
</body>
</html>