<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Comentarios</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Lista de Comentarios</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Contenido</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="comentario : ${comentarios}">
    <td th:text="${comentario.id}"></td>
    <td th:text="${comentario.contenido}"></td>
    <td th:text="${comentario.fecha}"></td>
    <td>
      <button class="btn btn-edit">Editar</button>
      <button class="btn btn-delete">Borrar</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-create">Crear Comentario</button>
</div>
</body>
</html>