<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulario de Incidencia</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Formulario de Incidencia</h1>

<form th:object="${incidencia}" th:action="@{/incidencia/guardar}" method="post">
  <input type="hidden" th:field="*{id}">
  <div>
    <h2>Incidencia</h2>
    <label for="prioridad">Prioridad:</label>
    <select id="prioridad" th:field="*{prioridad}">
      <option value="ALTA">Alta</option>
      <option value="MEDIA">Media</option>
      <option value="BAJA">Baja</option>
    </select>
    <label for="categoria">Categoría:</label>
    <select id="categoria" th:field="*{categoria}">
      <option value="FUNCIONALIDAD">Funcionalidad</option>
      <option value="USABILIDAD">Usabilidad</option>
      <option value="RENDIMIENTO">Rendimiento</option>
      <option value="SEGURIDAD">Seguridad</option>
    </select>
    <label for="estado">Estado:</label>
    <select id="estado" th:field="*{estado}">
      <option value="ABIERTA">Abierta</option>
      <option value="EN_PROGRESO">En progreso</option>
      <option value="RESUELTA">Resuelta</option>
      <option value="CERRADA">Cerrada</option>
    </select>
    <label for="fechaCreacion">Fecha de Creación:</label>
    <input type="date" id="fechaCreacion" th:field="*{fechaCreacion}">
    <label for="tiempoImputado">Tiempo Imputado:</label>
    <input type="text" id="tiempoImputado" th:field="*{tiempoImputado}">
  </div>
  <div>
    <h2>Descripción</h2>
    <textarea id="descripcion" rows="5" cols="100" th:field="*{descripcion}"></textarea>
  </div>
  <div>
    <h2>Comentarios</h2>
    <table>
      <thead>
      <tr>
        <th>Comentario</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="comentario : ${incidencia.comentarios}">
        <td th:text="${comentario.contenido}"></td>
        <td th:text="${comentario.fecha}"></td>
      </tr>
      </tbody>
    </table>
    <textarea id="nuevoComentario" rows="5" cols="100" th:field="*{nuevoComentario.contenido}"></textarea>
  </div>
  <div>
    <h2>Adjuntos</h2>
    <table>
      <thead>
      <tr>
        <th>Archivo</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="adjunto : ${incidencia.adjuntos}">
        <td><a th:href="${adjunto.rutaArchivo}" th:text="${adjunto.nombreArchivo}"></a></td>
      </tr>
      </tbody>
    </table>
    <input type="file" id="nuevoAdjunto" th:field="*{nuevoAdjunto.nombreArchivo}">
  </div>
  <div>
    <h2>Usuario</h2>
    <select id="usuario" th:field="*{usuario}">
      <option value=""></option>
      <option th:each="usu : ${usuarios}"
              th:value="${usu.id}"
              th:text="${usu.nombre}">
      </option>
    </select>
  </div>
  <div>
    <button type="submit" class="button btn btn-create">Guardar</button>
    <a th:href="@{/incidencias/{id}(id=${incidencia.proyecto.id})}" class="button btn btn-edit">Cancelar</a>
    <a th:if="${incidencia.id > 0}" th:href="@{/incidencia/borrar/{id}(id=${incidencia.id})}" class="button btn btn-delete">Borrar</a>
  </div>
</form>
</body>
</html>