<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Gestor de Resolución de Incidencias y Desarrollo Inteligente</title>
    <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Gestor de Resolución de Incidencias y Desarrollo Inteligente</h1>
<p>Bienvenido al Gestor de Resolución de Incidencias y Desarrollo Inteligente.
    Esta aplicación está diseñada para ayudarte a gestionar eficientemente las incidencias en tus proyectos de desarrollo,
    permitiéndote realizar un seguimiento de las mismas, asignar prioridades, agregar comentarios,
    adjuntar archivos y generar informes de métricas.</p>
<div class="container">
    <a th:href="@{/proyectos}" class="button">Ir a Proyectos</a>
    <a th:href="@{/usuarios}" class="button">Ir a Usuarios</a>
</div>
</body>
</html>