<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Formulario de Informe</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Formulario de Informe</h1>

<form th:object="${informe}" th:action="@{/informe/guardar}" method="post">
  <input type="hidden" th:field="*{id}">
  <div>
    <h2>Título</h2>
    <input type="text" id="titulo" th:field="*{titulo}">
  </div>
  <div>
    <h2>Descripción</h2>
    <textarea id="descripcion" rows="5" cols="100" th:field="*{descripcion}"></textarea>
  </div>
  <div>
    <h2>Métricas</h2>
    <table>
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="metrica : ${informe.metricas}">
        <td th:text="${metrica.nombre}"></td>
        <td th:text="${metrica.valor}"></td>
      </tr>
      </tbody>
    </table>
    <label for="nuevaMetricaNombre">Nombre:</label>
    <input type="text" id="nuevaMetricaNombre" th:field="*{nuevaMetrica.nombre}">
    <label for="nuevaMetricaValor">Valor:</label>
    <input type="text" id="nuevaMetricaValor" th:field="*{nuevaMetrica.valor}">
  </div>
  <div>
    <h2>Autor</h2>
    <select id="usuario" th:field="*{autor}">
      <option value=""></option>
      <option th:each="usu : ${usuarios}"
              th:value="${usu.id}"
              th:text="${usu.nombre}">
      </option>
    </select>
  </div>
  <div>
    <button type="submit" class="button btn btn-create">Guardar</button>
    <a th:href="@{/informes/{id}(id=${informe.incidencia.id})}" class="button btn btn-edit">Cancelar</a>
    <a th:if="${informe.id > 0}" th:href="@{/informe/borrar/{id}(id=${informe.id})}" class="button btn btn-delete">Borrar</a>
  </div>
</form>
</body>
</html>