<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Informes</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Lista de Informes</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Descripción</th>
    <th>Fecha de Generación</th>
    <th>Autor</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="informe : ${informes}">
    <td th:text="${informe.id}"></td>
    <td th:text="${informe.titulo}"></td>
    <td th:text="${informe.descripcion}"></td>
    <td th:text="${informe.fechaGeneracion}"></td>
    <td th:text="${informe.autor.nombre}"></td>
    <td>
      <a th:href="@{/informe/editar/{id}(id=${informe.id})}" class="button btn btn-edit">Editar</a>
      <a th:href="@{/informe/borrar/{id}(id=${informe.id})}" class="button btn btn-delete">Borrar</a>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <a th:href="@{/informe}" class="button">Crear Informe</a>
  <a th:href="@{/incidencias/{id}(id=${proyectoId})}" class="button">Ir a Incidencias</a>
</div>
</body>
</html>