<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Informes</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Lista de Informes</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Fecha de Generación</th>
    <th>Autor</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="informe : ${informes}">
    <td th:text="${informe.id}"></td>
    <td th:text="${informe.fechaGeneracion}"></td>
    <td th:text="${informe.autor}"></td>
    <td>
      <button class="btn btn-edit">Editar</button>
      <button class="btn btn-delete">Borrar</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-create">Crear Informe</button>
</div>
</body>
</html>