<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista de Métricas</title>
  <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Lista de Métricas</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Valor</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="metrica : ${metricas}">
    <td th:text="${metrica.id}"></td>
    <td th:text="${metrica.nombre}"></td>
    <td th:text="${metrica.valor}"></td>
    <td>
      <button class="btn btn-edit">Editar</button>
      <button class="btn btn-delete">Borrar</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-create">Crear Métrica</button>
</div>
</body>
</html>