<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Proyectos</title>
    <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Lista de Proyectos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proyecto : ${proyectos}">
        <td th:text="${proyecto.id}"></td>
        <td th:text="${proyecto.nombre}"></td>
        <td th:text="${proyecto.descripcion}"></td>
        <td>
            <a th:href="@{/proyecto/editar/{id}(id=${proyecto.id})}" class="button btn btn-edit">Editar</a>
            <a th:href="@{/proyecto/borrar/{id}(id=${proyecto.id})}" class="button btn btn-delete">Borrar</a>
            <a th:href="@{/incidencias/{id}(id=${proyecto.id})}" class="button btn btn-create">Ir a Incidencias</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/proyecto}" class="button">Crear Proyecto</a>
    <a th:href="@{/}" class="button">Ir a Principal</a>
</div>
</body>
</html>