<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Proyecto</title>
    <link th:href="@{/css/gridi.css}" rel="stylesheet" />
</head>
<body>
<h1>Formulario de Proyecto</h1>

<form th:object="${proyecto}" th:action="@{/proyecto/guardar}" method="post">
    <div>
        <input type="hidden" th:field="*{id}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}">
    </div>
    <div>
        <button type="submit" class="button btn btn-create">Guardar</button>
        <a th:href="@{/proyectos}" class="button btn btn-edit">Cancelar</a>
        <a th:href="@{/proyecto/borrar/{id}(id=${proyecto.id})}" class="button btn btn-delete">Borrar</a>
    </div>
</form>
</body>
</html>